In [1]:
import json

In [2]:
import tweepy

In [3]:
consumer_key = '##'
consumer_secret = '##'
access_token = '##'
access_token_secret = '##'

In [4]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [16]:
tweets_list = tweepy.Cursor(api.search, q="#paralympics",
                            since='2021-08-24', 
                            until='2021-08-30',
                            tweet_mode='extended',
                            lang="en").items(700)

In [17]:
output2 = []
for tweet in tweets_list:
    username=tweet.user.screen_name
    favourite_count = tweet.favorite_count
    retweet_count = tweet.retweet_count
    source = tweet.source
    line = {'id':tweet.id_str ,'username':username,'text' : tweet.full_text,'favourite_count':favourite_count, 'retweet_count' : retweet_count,
            'source': source,'location':tweet.user.location}
    output2.append(line)

In [18]:
with open("paralympics-v5.json", "w") as outfile:
    json.dump(output2, outfile,indent=3)

In [20]:
import pandas as pd
df=pd.DataFrame(output2)

In [21]:
df

,id,username,text,favourite_count,retweet_count,source,location
0,1432130940382367746,ricovmader,RT @Tokyo2020: Day 6âƒ£ | Athletes to Watch @Par...,0,86,Twitter for Android,"Curitiba, PR, Brazil"
1,1432130921453424640,Shivaram161985,RT @Tejasvi_Surya: Sunday bonanza for ðŸ‡®ðŸ‡³ at #T...,0,177,Twitter for Android,"Hyderabad, India"
2,1432130918500679684,Catarrao1,"RT @paugasol: ""Step by step"" @Blake_Leeper ins...",0,1979,Twitter for Android,"Ordino, Andorra"
3,1432130915392638977,TruthEkka,RT @AamAadmiParty: 2nd Medal for India on #Nat...,0,137,Twitter for Android,
4,1432130882656092165,sreenu0249,RT @HardeepSPuri: The wow jump!\n\nNishad Kuma...,0,172,Twitter for Android,nandyal
...,...,...,...,...,...,...,...
695,1432119344293715969,PreetiBChopra,RT @virenrasquinha: 3 medals on one single day...,0,373,Twitter for iPhone,Ghalib ki Dilli
696,1432119285241966596,Chetan9855,RT @narendramodi: More joyful news comes from ...,0,7957,Twitter for Android,
697,1432119283648118786,skchy_012,RT @YasushiYamawaki: #Day5 another Huge congra...,0,659,Twitter for iPhone,
698,1432119238991368196,OmTrayambakam,India is shining on the world pedestal...what ...,1,1,Twitter for Android,
699,1432119228384129033,Kanye_WestTD,RT @ballsdotie: Jason Smyth wins GOLD for Irel...,0,69,Twitter for Android,"20, he/him"